<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVCWeb1:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVCWeb1_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVCWeb1" />
        </element>
        <element id="directory" name="lib" />
      </element>
      <element id="javaee-facet-resources" facet="SpringMVCWeb1/web/Web" />
    </root>
  </artifact>
</component>